{% extends "base.html" %}
{% block title %}Анализатор страниц{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<main class="flex-grow-1">
    <div class="container-lg mt-3">
        <h1>Сайт: {{ page.name }}</h1>
        <div class="table-responsive">
            <table class="table table-bordered table-hover text-nowrap" data-test="url">
                <tbody>
                    <tr>
                        <td>ID</td>
                        <td>{{ page.page_id }}</td>
                    </tr>
                    <tr>
                        <td>Имя</td>
                        <td>{{ page.name }}</td>
                    </tr>
                    <tr>
                        <td>Дата создания</td>
                        <td>{{ page.created_at }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <h2 class="mt-5 mb-3">Проверки</h2>
        <form method="post" action="{{ url_for('post_check_page', page_id=page.page_id) }}">
            <input type="submit" class="btn btn-primary" value="Запустить проверку">
        </form>
        <div>
            <table class="table table-bordered table-hover mt-2" data-test="checks">
                <tbody>
                    <thead>
                        <th>ID</th>
                        <th>Код ответа</th>
                        <th>h1</th>
                        <th>title</th>
                        <th>description</th>
                        <th>Дата создания</th>
                    </thead>
                    {% for check in page.checks %}
                    <tr>
                        <td>{{ check.id }}</td>
                        <td>{{ check.status_code }}</td>
                        <td>{{ check.h1 }}</td>
                        <td>{{ check.title }}</td>
                        <td>{{ check.description }}</td>
                        <td>{{ check.created_at }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</main>
{% endblock %}
{% block footer %}
{{ super() }}
{% endblock %}